body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.elementPics{
    height: 250px;
    width: 250px;
    box-shadow: 0 0 25px 6px #d8d9bd;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card{
    border: none;
}

.scorecardCard{
    margin-top: 20px;
    text-align: center;
    height: 280px;
}

.attackCard{
    margin-top: 100px;
}

.attackButton{
    height: 100px;
}

.fighterCard,
.defenderCard{
    height: 330px;
    background-color: #D8D9D9;
    opacity: 0.8;
}

.selectorGroup{
    height: 310px;
}

.nextRoundText{
    padding: 20px;
}

#chooseDefenderText,
#chooseFighterText{
    padding-top: 20px;
    font-size: 32px;
}

.scorecardHeader{
    font-size:28px;
}